

body{
  font-family: 'Poppins', sans-serif;
  padding: 0 90px;
  background-color: #23262d;
  margin: 0 auto;
}
.tel{
  text-decoration: none;
}
.header-all{
  padding: 28px 0;
}
.header-all__link{
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-right: 25px;
  text-decoration: none;
  color: #fff;
}
.bx-menu{
  font-size: 25px;
  color: #fff;
  transition: all 0.4s ease;
}
.bx-menu:hover{
  color: #828282;
  transition: all 0.4s ease;
}

/* END OF HEADER */

.hero{
  background-image: url('../img/hero-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #23262d;
  width: 100%;
  height: 100vh;
  padding: 0 90px;
}






.elementor-section{
  background-color: #23262d;
}
.elementor{
  padding: 160px 0;
  display: flex;
}
.elementor__year{
  display: flex;
  width: 400px;
}
.el-year__span{
  font-size: 80px;
  margin-right: 15px;
  color: #cee002;
}
.el-year__text{
  font-size: 16px;
  width: 90px;
  color: #fff;
}

.experience{ 
  width: 300px; 
  height: 150px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding-right: 30px; 
  position: relative; 
} 
.experience-number{ 
  font-size: 80px; 
  font-weight: 700; 
  color: yellowgreen; 
  font-family: arial; 
} 
.experience-text{ 
  color: #fff; 
  font-size: 16px; 
  /* font-family: arial;  */
  max-width: 15px; 
  margin-left: 10px; 
} 
.experience::before{ 
  content: ""; 
  width: 50px; 
  /* height: 110px;  */
  border: 7px solid #444; 
  box-sizing: border-box; 
  position: absolute; 
  top: 0; 
  left: 0; 
  bottom: 0; 
  border-right: 0; 
} 
.experience::after{ 
  content: ""; 
  width: 50px; 
  /* height: 110px;  */
  border: 7px solid #444; 
  box-sizing: border-box; 
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  border-left: 0; 
}


.elementor__litho{
  width: 192px;
}
.el-litho__since{
  font-size: 15px;
  margin-bottom: 20px;
  color: #828282;
}
.el-litho__text{
  font-size: 20px;
  color: #fff;
  line-height: 35px;
}


.elementor__widget{
  width: 362px;
}
.el-widget__text{
  font-size: 14px;
  margin-bottom: 25px;
  color: #828282;
  line-height: 25px;
}
.el-widget__link{
  font-size: 14px;
  position: relative;
  color: #939393;
  text-decoration: none;
}
.el-widget__link:hover{
  color:#828282 ;
}
.el-widget__link::before{
  content: '';
  position: absolute;
  bottom: -5px;
  display: inline-block;
  width: 120px;
  height: 1px;
  background-color: #828282;
}




.figure-list{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: #23262d;
}

.fig-item{
  background-image: url('../img/arhitecture.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 304px;
  height: 424px;
  display: inline-block;
  margin-right: 30px;
  padding: 40px;
}
.fig-item__title{
  font-size: 25px;
  width: 200px;
  color: #fff;
}
.bx-right-arrow-alt{
  color: #000;
  padding: 15px;
  border-radius: 50%;
  background-color: #fff;
}

.figu-item{
  background-image: url('../img/arhitecture-img2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 304px;
  height: 424px;
  display: inline-block;
  margin-right: 30px;
}

.figur-item{
  background-image: url('../img/arhitecture-img3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 304px;
  height: 424px;
  display: inline-block;
  margin-right: 30px;
}
.figure-item{
  background-image: url('../img/arhitecture-img4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 304px;
  height: 424px;
  display: inline-block;
}




.litho-section{
  background-color: #23262d;
}
.litho__texts{
  font-size: 25px;
  color: #fff;
  width: 402px;
  margin-right: 100px;
}
.littho__text{
  line-height: 45px;
}
.litho{
  padding: 130px 0;
}
.litho__divl{
  width: 210px;
}
.litttho__title{
  font-size: 15px;
  color: #fff;
  margin-bottom:15px;
}
.litttho__text{
  font-size: 15px;
  line-height: 30px;
  color:#828282 ;
}
.litho__divr{
  width: 210px;
}
.littthon__title{
  font-size: 15px;
  color: #fff;
  margin-bottom:15px;
}
.littthon__text{
  font-size: 15px;
  line-height: 30px;
  color:#828282 ;
}




.companys-section{
  background-color: #23262d;
}
.companys-list{
  list-style: none;
  padding: 130px 0;
}
.companys-list__item{
  opacity: 0.5;
  transition: all 0.4s ease;
}
.companys-list__item:hover{
  opacity: 1;
  transition: all 0.4s ease;
}






.select-section{
  background-color: #23262d;
}
.select-section__text{
  font-size: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ced41e;
}
.select-section__text::before{
  content: '';
  display: inline-block;
  width: 43%;
  height: 1px;
  background-color: #393c42;
  margin-right: 30px;
}
.select-section__text::after{
  content: '';
  display: inline-block;
  width: 43%;
  height: 1px;
  background-color: #393c42;
  margin-left: 30px;
}
.select-list{
  display: flex;
  align-items: center;
  list-style: none;
  padding: 130px 0 190px 0;
  background-color: #23262d;
}
.select-list__item{
  width: 312px;
  transition: all 0.2s;
}
.select-list__item:hover{
  transform: translateY(-3px);
  transition: all 0.2s ;
}
.select-list__item:hover .selec-item__img{
  background-color: #cee002;
  display: block;
}

.selec-item__img{
  display: block;
  /* background-color: red; */
}
.selec-item__img::after{
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #cee002;
}
.selec-item__div{
  padding: 30px 20px;
  background-color: #23262d;
}
.selec-item__link{
  text-decoration: none;
  color: #fff;
}
.selec-item__title{
  font-size: 15px;
  margin-bottom: 5px;
  text-align: center;
}
.selec-item__text{
  font-size: 13px;
  text-align: center;
  color: #939393;
}









.map-info{
  padding: 130px 0;
  background-color: #1f2128;
}
.map-info__leftdiv{
  overflow: hidden;
  display: flex;
}
.map-leftdiv__text{
  font-size: 200px;
}




